.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.toast-success {
  background-color: green;
}

.toast-error {
  background-color: #ff0000;
  color: #000000; 
}

.toast-info {
  background-color: blue;
}

.toast-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
