.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-field {
  padding-right: 30px;
  font-size: 16px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input-field:focus {
  border-color: #007bff;
}

.input-button {
  position: absolute;
  top: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
